## Run on container environment
sudo: false

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

language: php
php:
  - 7.4
  - 7.3
  - 7.2

matrix:
  fast_finish: true

# We only build pushes to master and pull requests
branches:
  only:
    - master

before_install:
  - mkdir -p build/coverage

install:
  - travis_retry composer install --no-interaction --prefer-dist --ignore-platform-reqs

script:
  - bin/static-analysis
  - bin/coverage-enforce 60
